*{
    padding: 0;
    margin: 0;
}

header {
    padding: 50px;

    background-color: rgb(76, 76, 197);

    align-items: center;

    font-size: 12px;
}

header h1 {
    align-items: center;

    display: flex;

    justify-content: space-around;

    align-items: center;

    font-size:50px;

}

header li a{
    gap: 50px;
}

.section-1 {
    background-color: #b6ddea;
    padding: 250px;
}

.section-2 {
    background: linear-gradient(180deg, #cef6ff7a 8.33%, #b6ddea 100%);

    flex-direction: column;

    padding: 250px;

    background-repeat: no-repeat;

    background-size: cover;

    display: flex;

    justify-content: space-evenly;

}

header nav ul {
    display: flex;


}

header nav ul li {
    list-style: none;

    margin-right: 10px;


}

header nav ul li a:hover {
    color: aquamarine;

    transition: 0.8;
}

header nav ul li a {
    color: white;

    text-decoration: none;

}


.section-2 button {
    background-color: white;

    color: rgb(72, 119, 223);

    width: 150px;

    height: 40px;

    border-radius: 10px;


}

.section-1 button:hover {
    color: blue;

    transition: 0.8;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    cursor: pointer;

    background-color: white;
}

.section-2 button:hover {
    transition: 0.8s;

    cursor: pointer;

    background-color: aqua;

}

/*Estilo basico para os cards*/

.card {
    background-color: black;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.card img {
    font-size: 14px;
    color: white;
    position: relative;
    width: 200%;
    
}

.card h3 {
    color: white;
}

.section-cards {
    background-color: #b6ddea;
}

.card p{
    color: green;
}

.section-1 p{
    font-size: 38px;

}

.section-1{
    background-color: #113e4e;
}